body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    color: black;
    margin: 100px auto;
}

#yearMonthDate {
    display:flex;
    flex-flow: row wrap;
    font-size: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

#hourMinuteSecond {
    display:flex;
    flex-flow: row wrap;
    font-size: 100px;
    margin: auto;
}